* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html, body {
    height: 100%;
    font-family: 'Lato', 'Arial', sans-serif;
    color: #F7F7F7;
    text-rendering: optimizeLegibility;
}

body {
    scroll-behavior: smooth;
}

.fullpage {
    width: 100%;
    height: 100%;
}

/* Header */
.header {
    position: fixed;
    width: 100%;
    background-color: #010812;
    color: #F7F7F7;
    font-size: 20px;
    z-index: 10;
    /* height: 7vh;
    margin-top: 1vh; */
    overflow: hidden;
}

.header a {
    flex-grow: 1;
    text-decoration: none;
    color: #F7F7F7;
    float: left;
    text-align: center;
    padding: 14px 16px;
}

.header a.right {
    float: right;
}

/* Sections */
.section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#namepage {
    height: 100vh;
    background-image: url("backgroundimage2.jpg");
    background-size: 100% 100%;
    background-color: #263238;
    color: #F7F7F7;
    font-weight: 900;   
    text-align: center;
    padding-top: 45vh;
    padding-bottom: 50vh;
}

#namepage-title {
    font-size: 60px;
    font-weight: 900;
    border-radius: 3px;
}

#typename {
    width: 100%;
}

.button {
    color: #F7F7F7;
    text-align: center;
    text-decoration: none;
    padding: 3px;
    background-image: linear-gradient(#001938, #2db6fb);
    background-size: 0 3px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    border-radius: 5%;
    transition: all .5s cubic-bezier(0,.8,.37,.96);
    margin: auto;
}

.button:hover,
.button:active {
    background-size: 100% 3px, auto;
}


.aboutme, .projects, .work-experience, .contactme {
  /* background-color: #000c26; */
  background: 
      radial-gradient(farthest-side at -33.33% 50%,#0000 52%,#091739 54% 57%,#0000 59%) 0 calc(88px/2),
      radial-gradient(farthest-side at 50% 133.33%,#0000 52%,#091739 54% 57%,#0000 59%) calc(88px/2) 0,
      radial-gradient(farthest-side at 133.33% 50%,#0000 52%,#091739 54% 57%,#0000 59%),
      radial-gradient(farthest-side at 50% -33.33%,#0000 52%,#091739 54% 57%,#0000 59%),
      #000c26;
background-size: calc(88px/4.667) 88px,88px calc(88px/4.667);

  /* background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px; */
}

/* Specific Section Styling */
.aboutmeheader, .projectsheader, .work-experienceheader, .contactmeheader, .skillsheader {
    font-size: 2em;
    
    text-align: center;
    /* background-color: #000c26;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000c26 12px ), repeating-linear-gradient( #3a3e8755, #3a3e87 );
} */
}

.aboutmebody, .projectsbody, .work-experiencebody, .contactmebody {
    text-align: center;
}

.profile-photo {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.center {
  position: relative;
  margin-left: 25%;
  margin-right: 25%;
}

hr {
    visibility: hidden;
    height:7vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 33%;
    padding: 0 4px;
    max-height: 80vh;
    /* display: flex; */
    justify-content: center;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 35vh;
    height: 35vh;
  }


  .glow:hover {
    cursor: pointer;
  }

  .glow {
    cursor: pointer;
    font-size: 0;
  }
  
  
  
  .detail {
    position: fixed;
    top: 10px;
    left: 50%;
    width: 70vw;
    height: 80vh;
    cursor: pointer;
    font-size: 0;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    max-height: 100%;
    overflow: auto;
  }
  
  .detail > img {
    position: relative;
    /* z-index: 1; */
    width: 35vh;
    height: 35vh;
  }
  
  .detail .content {
    background: #000c26;
    padding: 2rem 1.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    flex-grow: 1;
  }
  
  .detail .content > * {
    margin-bottom: 1rem;
  }
  
  .detail .title {
    font-size: 2rem;
    text-transform: uppercase;
  }
  
  .detail .secondary {
    color: lightgray;
  }
  
  .detail .description {
    line-height: 1.5;
  }


  body {
    --background-color: #1c4882;
    --text-color: #ffffff;
  
    --card-background-color: #07182e;
    --card-border-color: #4f89c3;
    --card-box-shadow-1: rgba(0, 0, 0, 0.05);
    --card-box-shadow-1-y: 3px;
    --card-box-shadow-1-blur: 6px;
    --card-box-shadow-2: rgba(0, 0, 0, 0.1);
    --card-box-shadow-2-y: 8px;
    --card-box-shadow-2-blur: 15px;
    --card-label-color: #FFFFFF;
    --card-shine-opacity: .1;
    --card-shine-gradient: conic-gradient(from 205deg at 50% 50%, #40c5c9 0deg, #40c5c9 25deg, #40c5c9 295deg, #40c5c9 360deg);
    --card-line-color: #4f89c3;
    --card-tile-color: #FFFFFF;
  
    --card-hover-border-color: #4f89c3;
    --card-hover-box-shadow-1: #4f89c3;
    --card-hover-box-shadow-1-y: 5px;
    --card-hover-box-shadow-1-blur: 10px;
    --card-hover-box-shadow-2: #102840;
    --card-hover-box-shadow-2-y: 15px;
    --card-hover-box-shadow-2-blur: 25px;
  
    --blur-opacity: .01;
  
    &.toggle .grid * {
      transition-duration: 0s !important;
    }
  }


  
  .card {
    background-color: var(--background-color);
    box-shadow: 0px var(--card-box-shadow-1-y) var(--card-box-shadow-1-blur) var(--card-box-shadow-1), 0px var(--card-box-shadow-2-y) var(--card-box-shadow-2-blur) var(--card-box-shadow-2), 0 0 0 1px var(--card-border-color);
    padding: 16px 16px 16px 16px;
    border-radius: 15px;
    position: relative;
    
    height: 68.5vh;
    margin-left: 25px;
    margin-right: 25px;
  
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 15px;
      background-color: var(--card-background-color);
    }
  
    .icon {
      z-index: 2;
      position: relative;transition: box-shadow .25s;
      display: table;
      padding: 8px;
  
      &::after {
        content: '';
        position: absolute;
        inset: 4.5px;
        border-radius: 50%;
        background-color: var(--card-icon-background-color);
        border: 1px solid var(--card-icon-border-color);
        backdrop-filter: blur(2px);
        transition: background-color .25s, border-color .25s;
      }
  
      svg {
        position: relative;
        z-index: 1;
        display: block;
        width: 24px;
        height: 24px;
        transform: translateZ(0);
        color: var(--card-icon-color);
        transition: color .25s;
      }
    }
  
    h2 {
      z-index: 2;
      position: relative;
      margin: 0 0 4px 0;
      font-family: inherit;
      font-weight: 600;
      font-size: 24px;
      line-height: 2;
      color: var(--card-label-color);
    }
  
    p {
      z-index: 2;
      position: relative;
      margin: 0;
      font-size: 0.8vw;
      line-height: 1.7;
      color: var(--text-color);
    }

    ul {
      z-index: 2;
      position: relative;
      margin-left: 18px;
      font-size: 0.8vw;
      line-height: 1.7;
      color: var(--text-color);
    }

    
  
    .shine {
      border-radius: inherit;
      position: absolute;
      inset: 0;
      z-index: 1;
      overflow: hidden;
      opacity: 0;
      transition: opacity .5s;
  
      &:before {
        content: '';
        width: 150%;
        padding-bottom: 150%;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        bottom: 55%;
        filter: blur(35px);
        opacity: var(--card-shine-opacity);
        transform: translateX(-50%);
        background-image: var(--card-shine-gradient);
      }
    }
  
    .background {
      border-radius: inherit;
      position: absolute;
      inset: 0;
      overflow: hidden;
      -webkit-mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
      mask-image: radial-gradient(circle at 60% 5%, rgb(170, 39, 39) 0%, rgb(150, 98, 98) 15%, transparent 60%);
  
      .tiles {
        opacity: 0;
        transition: opacity .25s;
  
        .tile {
          position: absolute;
          background-color: var(--card-tile-color);
          animation-duration: 8s;
          animation-iteration-count: infinite;
          opacity: 0;
  
          &.tile-4,
          &.tile-6,
          &.tile-10 {
            animation-delay: -2s;
          }
  
          &.tile-3,
          &.tile-5,
          &.tile-8 {
            animation-delay: -4s;
          }
  
          &.tile-2,
          &.tile-9 {
            animation-delay: -6s;
          }
  
          &.tile-1 {
            top: 0;
            left: 0;
            height: 10%;
            width: 22.5%;
          }
  
          &.tile-2 {
            top: 0;
            left: 22.5%;
            height: 10%;
            width: 27.5%;
          }
  
          &.tile-3 {
            top: 0;
            left: 50%;
            height: 10%;
            width: 27.5%;
          }
  
          &.tile-4 {
            top: 0;
            left: 77.5%;
            height: 10%;
            width: 22.5%;
          }
  
          &.tile-5 {
            top: 10%;
            left: 0;
            height: 22.5%;
            width: 22.5%;
          }
  
          &.tile-6 {
            top: 10%;
            left: 22.5%;
            height: 22.5%;
            width: 27.5%;
          }
  
          &.tile-7 {
            top: 10%;
            left: 50%;
            height: 22.5%;
            width: 27.5%;
          }
  
          &.tile-8 {
            top: 10%;
            left: 77.5%;
            height: 22.5%;
            width: 22.5%;
          }
  
          &.tile-9 {
            top: 32.5%;
            left: 50%;
            height: 22.5%;
            width: 27.5%;
          }
  
          &.tile-10 {
            top: 32.5%;
            left: 77.5%;
            height: 22.5%;
            width: 22.5%;
          }
        }
      }
  
      @keyframes tile {
  
        0%,
        12.5%,
        100% {
          opacity: 1;
        }
  
        25%,
        82.5% {
          opacity: 0;
        }
      }
  
      .line {
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: opacity .35s;
  
        &:before,
        &:after {
          content: '';
          position: absolute;
          background-color: var(--card-line-color);
          transition: transform .35s;
        }
  
        &:before {
          left: 0;
          right: 0;
          height: 1px;
          transform-origin: 0 50%;
          transform: scaleX(0);
        }
  
        &:after {
          top: 0;
          bottom: 0;
          width: 1px;
          transform-origin: 50% 0;
          transform: scaleY(0);
        }
  
        &.line-1 {
          &:before {
            top: 10%;
          }
  
          &:after {
            left: 22.5%;
          }
  
          &:before,
          &:after {
            transition-delay: .3s;
          }
        }
  
        &.line-2 {
          &:before {
            top: 32.5%;
          }
  
          &:after {
            left: 50%;
          }
  
          &:before,
          &:after {
            transition-delay: .15s;
          }
        }
  
        &.line-3 {
          &:before {
            top: 55%;
          }
  
          &:after {
            right: 22.5%;
          }
        }
      }
    }
  
    &:hover {
      box-shadow: 0px 3px 6px var(--card-hover-box-shadow-1), 0px var(--card-hover-box-shadow-2-y) var(--card-hover-box-shadow-2-blur) var(--card-hover-box-shadow-2), 0 0 0 1px var(--card-hover-border-color);
  
      .icon {
        &::after {
          background-color: var(--card-hover-icon-background-color);
          border-color: var(--card-hover-icon-border-color);
        }
  
        svg {
          color: var(--card-hover-icon-color);
        }
      }
  
      .shine {
        opacity: 1;
        transition-duration: .5s;
        transition-delay: 0s;
      }
  
      .background {
  
        .tiles {
          opacity: 1;
          transition-delay: .25s;
  
          .tile {
            animation-name: tile;
          }
        }
  
        .line {
          opacity: 1;
          transition-duration: .15s;
  
          &:before {
            transform: scaleX(1);
          }
  
          &:after {
            transform: scaleY(1);
          }
  
          &.line-1 {
  
            &:before,
            &:after {
              transition-delay: .0s;
            }
          }
  
          &.line-2 {
  
            &:before,
            &:after {
              transition-delay: .15s;
            }
          }
  
          &.line-3 {
  
            &:before,
            &:after {
              transition-delay: .3s;
            }
          }
        }
      }
    }
  }
  
  html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  
  * {
    box-sizing: inherit;
    &:before,
    &:after {
      box-sizing: inherit;
    }
  }
  .mid {
    height: 30vh;
  }

  .contactme {
    background: 
      radial-gradient(farthest-side at -33.33% 50%,#0000 52%,#091739 54% 57%,#0000 59%) 0 calc(88px/2),
      radial-gradient(farthest-side at 50% 133.33%,#0000 52%,#091739 54% 57%,#0000 59%) calc(88px/2) 0,
      radial-gradient(farthest-side at 133.33% 50%,#0000 52%,#091739 54% 57%,#0000 59%),
      radial-gradient(farthest-side at 50% -33.33%,#0000 52%,#091739 54% 57%,#0000 59%),
      #000c26;
    background-size: calc(88px/4.667) 88px,88px calc(88px/4.667)-gradient(circle, rgba(0,12,38,1) 0%, rgba(45,60,93,1) 35%, rgba(0,12,38,1) 100%);
    height: 196px;
}

.contactmeheader {
    color: #f7f7f7;
    text-align: center;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 35vw;
    margin-right: 35vw;
    border-bottom: 3px solid #f7f7f7;
    border-radius: 3px;

}

.headerresumetext {
    padding-bottom: 10px;
}

.contactmebody1 {
    float: left;
    margin-left: 10px;
    margin-top: 36px;
}

.contactmebody2 {
    text-align: right;
    float: right;
    margin-right: 10px;
    margin-top: 36px;
}

.contactmegitlink {
    color: inherit;
    text-decoration: none;
}

.contactmeimg1 {
    float: left;
    margin-left: 10px;
    height: 75%;
    border-radius: 50%;
}

.contactmeimg2 {
    float: right;
    margin-right: 10px;
    height: 75%;
    border-radius: 50%;
}

.glow:hover {
  box-shadow:
    0 0 20px 10px #5250d2,  /* inner white */
    0 0 30px 20px rgb(7, 40, 89), /* middle magenta */
    0 0 40px 30px #000c26; /* outer cyan */
}

.glow {
  box-shadow:
    0 0 5px 5px #fff;  /* inner white */
  border-radius: 15px;
  transition: box-shadow 0.5s;
}

.tocenter {
  display: flex;
  justify-content: center;
  width: 7vw;
  font-size: 1.25vw

}

  
